# dependencies (bun install)
node_modules

# output
out
dist

# raw source files (downloaded JMdict XML)
raw
# !raw/JPDB_v2.2_Frequency_Kana_2024-10-13.zip

*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

AGENTS.md
